{% extends "@ModuleAutoUpgrade/components/dialog.html.twig" %}

{% set title = 'Restore from a backup?'|trans({}) %}
{% set dialogSize = 'md' %}
{% set message = 'You are about to restore %backup_version% using the backup from %backup_date%.'|trans({'%backup_version%': '<b> PrestaShop ' ~ backup_version ~ '</b>', '%backup_date%': '<b>' ~ backup_date ~ '</b>'}) %}

{% block dialog_content %}
  {{ parent() }}
{% endblock %}

{% block dialog_extra_content %}{% endblock %}

{% block dialog_footer_inner %}
  <button type="button" class="btn btn-link" data-dismiss="dialog">
    {{ 'Cancel'|trans({}) }}
  </button>

  <form id="{{ form_name }}" name="{{ form_name }}" data-route-to-submit="{{ form_route_to_confirm_restore }}">
    <input type="hidden" name="{{ form_fields.BACKUP_NAME }}" value="{{ backup_name }}" />
    <button type="submit" class="btn btn-primary">
      {{ 'Restore'|trans({}) }}
    </button>
  </form>
{% endblock %}
